:root {
    --brown: #938a81;
    --lightBrown: #cec0b7;
    --choco: #946592;
    --nash: #a7a159;
    --blue: #17ab8c;
    --saint-peters: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    justify-content: center;
}

.instruction{
    width: 40%;
    height: 100vh;
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--brown);
    color: #eee;
}
.instruction h2{
    font-weight: 400;
    position: relative;
    margin-bottom: 1rem;
    
}
.instruction ol {
    padding: 0.5rem 0 0 1rem;
    line-height: 1.5;
}
.instruction a {
    text-decoration: none;
    color: azure;
    font-family: cursive;
    font-variant: small-caps;
}
instruction h2::after{
    content: '';
}