:root {
    --brown: #938a81;
    --lightBrown: #cec0b7;
    --choco: #946592;
    --natashi: #a7a159;
    --saint-peters: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: cursive;
    font-variant: small-caps;
}

.main-container{
    display: flex;
    justify-content: center;
    background: var(--saint-peters);
}

.instruction{
    width: 40%;
    height: 100vh;
    font-size: 1rem;
    padding: 1rem;
    background-color: var(--choco);
    color: #eee;
    border-radius: 0 1.5rem 1.5rem 0;
    
}
.instruction h2{
    font-weight: 700;
    position: relative;
    margin-bottom: 1rem;
    
}
.instruction ol {
    padding: 0.5rem 0 0 1rem;
    line-height: 1.5;
}
.instruction ol a {
    text-decoration: none;
    color: lightskyblue;
    font-family: cursive;
    font-variant: small-caps;
}
.instruction  h2::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 25%;
    height: 2px;
    background-color: #eee;
    margin-top: 2rem;
}

.download-link{
    width: 90%;
    padding-top: 2rem;
    padding: 1rem;
}
.download-link section{
    border: 2px solid var(--choco);
    border-radius: 0 1.5rem 1.5rem 0;
    padding: auto;

}

main h1{
 display: block;
 font-size: 2rem;
 font-weight: 700;
 text-align: center;
 color: var(--brown);
 padding-bottom: 1rem;

}

main input[ type = radio]{
    display: none;
}

main nav{
    display: flex;
    justify-content: space-around;
    border: 2px solid var(--natashi);
    align-items: center;
}

